html, body {
  font-family: 'Barlow', sans-serif;
  width: 100%;
  height:100%;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

a {
  color: #5ad;
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}

button, .button {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to bottom right, #D84155, #882963);
  padding: 0.6rem;
  color: #fff;
  border-radius: 2px;
  width: 100%; 
}

button:hover, .button:hover {
  background: linear-gradient(to bottom right, #e16b7b, #af3580); 
}

.footer {
  position: absolute;
  color: #888;
  bottom: 2rem;
  width: 100%;
  font-size: .9em;
  text-align: center;
}

button {
  outline: none;
  cursor: pointer;
  border: none; 
}

.header {
  position:absolute;
  display:flex;
  flex-direction:row;
  top:.6vh;
  left:.6vw;
  vertical-align:middle
}

.header {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  height:58px
}

.container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items:center
}

.menu a, .item a {
  text-decoration:none;
  color:inherit;
  cursor:pointer
}

.item {
  height:58px
} 

.item a {
  padding:18px 24px 18px 24px;
  display:block
}

.dropdown>ul .item {
  min-width:100%;
  height:29px;
  padding:5px 10px 5px 40px
}

.dropdown>ul .item a {
  min-height:29px;
  line-height:29px;
  padding:0
}

.menu .item { border-top:0 }

.dropdown { height:58px }

.dropdown:hover>ul { 
  position:absolute;
  left:0;
  top:58px;
  padding:0
}

.dropdown>ul { display:none }

.dropdown>ul .item { padding:5px 10px }

.dropdown>ul .item a { white-space:nowrap }

.item:hover { background-color:#bdbdbd }

.navigation { 
  display:flex;
  flex-direction:column;
  list-style:none;
  padding-left:0;
  margin:0
}

.navigation { 
  flex-flow:row;
  justify-content:flex-end
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; 
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}