@import 'https://fonts.googleapis.com/css?family=Open+Sans&display=swap';
@font-face { 
  font-family:reitam;
  font-display:swap;
  src:local('Sans-serif'),local('Reitam'),url(Reitam.otf)
}

html, body {
  font-family:reitam;
  width:100%;
  height:100%;
}

body {
  background: linear-gradient(-50deg, #e26d4a, #e73c7e, #1433be, #16b345);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

a {
  color: #5ad;
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}

.footer {
  position: absolute;
  color: #888;
  bottom: 2rem;
  width: 100%;
  font-size: .9em;
  text-align: center;
}

button {
  outline: none;
  cursor: pointer;
  border: none; 
}

.header {
  position: absolute;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  height:50px;
  left:1vw;
  font-size: 30px;
  color: #fff;
}
.header:hover {
  color: #00b3b9;
}

.container {
  color: #fff;
  display:flex;
  flex-direction:column;
  justify-content:left;
}

.menu-left .navigation, .menu-left .header { justify-content:flex-start; }

.menu a, .item a {
  text-decoration:none;
  color:inherit;
  cursor:pointer;
}

.item {
  height:58px;
  color: #fff;
} 

.item a {
  padding:18px 24px 18px 24px;
  display:block;
}

.dropdown>ul .item {
  min-width:100%;
  height:29px;
  padding:5px 10px 5px 40px
}

.dropdown>ul .item a {
  min-height:29px;
  line-height:29px;
  padding:0
}

.menu .item { border-top:0 }

.dropdown { height:58px }

.dropdown:hover>ul { 
  position:absolute;
  left:0;
  top:58px;
  padding:0
}

.dropdown>ul { display:none; }

.dropdown>ul .item { padding:5px 10px; }

.dropdown>ul .item a { white-space:nowrap }

.item:hover { color: #00b3b9; background-color:#0000000a }

.navigation { 
  display:flex;
  flex-direction:column;
  list-style:none;
  padding-left:0;
  margin:0;
}

.navigation {
  left: 50px;
  flex-flow:row;
  justify-content:flex-end
}

.menu-material-cyan, .menu-material-cyan .dropdown ul { 
  background-color:#006064;
  color:#fff
}

.menu-material-cyan .active,.menu-material-cyan .item:hover {
  background-color:#00838f
}

.mainbuttons { 
  display:flex;
  flex-direction:row;
  align-content:center;
  align-items:center;
  justify-content:center
}

.mainbuttons button {
  font-family:reitam;
  color:#2c2f33;
  background-color:#fff;
  font-size:1.5vh;
  border:none;
  cursor:pointer;
  margin:15px;
  padding:15px 5vw;
  border-radius:5px;
  transition-duration:500ms
}

.mainbuttons button:hover { 
  transform:translate(0%,1px);
  transition-duration:200ms
}

.mainbuttons button:active {
  transform:translate(0%,2px)
}

.mainbuttons button:focus { outline:none }

h1 {
  font-size: 20px;
}

.content {
  text-decoration:none;
  color:inherit;
  text-align: center;
  color: #fff;
}

.mainbuttons button { margin:.5vw }

.mainbuttons button:active, .mainbuttons button:hover { transform:unset }

*, *::before, *::after {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; 
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}