html, body {
  font-family: 'Courier New', Courier, monospace;
  max-width: 100%;
  max-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(214, 214, 214);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

#clock {
  position: fixed;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.610);
  bottom: 0px;
  width: 100%;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

.box {
  display: block;
  background-image: url(https://media.giphy.com/media/Ju7l5y9osyymQ/giphy.gif);
  height:25rem;
  width:25rem;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10px;
  border-style: dashed;

  /* adding the popup */
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popuptext {
  visibility: hidden;
  color: rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  font-size: 25px;
  bottom: -4rem;
  margin-left: -180px;
}

.popuptext::after {
  content: "";
  position: absolute;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.text::before,
.text::after{
  content: attr(title);
  position: absolute;
  left: 20px;
}

.text::before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.text::after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}